@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Oxygen:wght@300;400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Viga&display=swap');

/* Tailwind CSS
@import "tailwindcss"; */

/* Besic Setup */
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background: #F8F9FB;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
} */



/* Main Styling Section */

/* Navbar */

/* Sidebar */

/* Menu */

.sidebar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.sidebar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.sidebar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.sidebar .menu-icon .navicon:before,
.sidebar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.sidebar .menu-icon .navicon:before {
  top: 5px;
}

.sidebar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.sidebar .menu-btn {
  display: none;
}

.sidebar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.sidebar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.sidebar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.sidebar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.sidebar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.sidebar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}




/* Table */


/* Media Querries for Resposiveness */



/* 48em = 768px */

/* @media (min-width: 48rem) {
  .sidebar li {
    float: left;
  }
  .sidebar li a {
    padding: 20px 30px;
  }
  .sidebar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .sidebar .menu-icon {
    display: none;
  }
} */