@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Oxygen:wght@300;400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Viga&display=swap');

/* Tailwind CSS
@import "tailwindcss"; */

/* Besic Setup */
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background: #F8F9FB;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
} */



/* Main Styling Section */

/* Navbar */

/* Sidebar */

/* Menu */

.sidebar .menu {
  clear: both;
  max-height: auto;
  transition: max-height .2s ease-out;
}

/* menu icon */

.sidebar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.sidebar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.sidebar .menu-icon .navicon:before,
.sidebar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.sidebar .menu-icon .navicon:before {
  top: 5px;
}

.sidebar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.sidebar .menu-btn {
  display: none;
}

.sidebar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.sidebar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.sidebar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.sidebar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.sidebar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.sidebar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}




/* Table */
[x-cloak] {
			display: none;
		}

		[type="checkbox"] {
			box-sizing: border-box;
			padding: 0;
		}

		.form-checkbox {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			-webkit-print-color-adjust: exact;
			color-adjust: exact;
			display: inline-block;
			vertical-align: middle;
			background-origin: border-box;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			flex-shrink: 0;
			color: currentColor;
			background-color: #fff;
			border-color: #e2e8f0;
			border-width: 1px;
			border-radius: 0.25rem;
			height: 1.2em;
    		width: 1.2em;
		}

		.form-checkbox:checked {
			background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
			border-color: transparent;
			background-color: currentColor;
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}


/* Media Querries for Resposiveness */



/* 48em = 768px */

/* @media (min-width: 48rem) {
  .sidebar li {
    float: left;
  }
  .sidebar li a {
    padding: 20px 30px;
  }
  .sidebar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .sidebar .menu-icon {
    display: none;
  }
} */