@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Oxygen:wght@300;400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Viga&display=swap');

/* Tailwind CSS
@import "tailwindcss"; */

/* Besic Setup */
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F8F9FB;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}



/* Main Styling Section */

/* Navbar */


/* Table */


/* Media Querries for Resposiveness */